<h2>User Information</h2>
<p>User Name: <%= "#{current_user.first_name} " + "#{current_user.last_name}" %> </p>
<p>User Email: <%= "#{current_user.email}" %> </p>

<%= link_to "edit my user Information", edit_user_registration_path %>