<h2>Forthcoming Improvements</h2>

<h3>What's in Progress</h3>
<ol>
    <li>DailyMed API lookup: AJAX Web Service to get consistently updated medical information</li>
    <li>ActiveMailer: button to instantly share medication information with caretakers and physicians</li>
    <li>Units Dropdown: input and store dosage information as an integer with a dropdown menu to select relevant medical units </li>
</ol>

<h3>Down the Road</h3>
  <ul>
    <li>Archive Section: allow users to "archive" their inactive medications, and display in a separate view</li>
    <li>Caretaker Login: allow users to extend view-only login privileges to caretakers</li>
    <li>Prescriber Library: store and allow for auto-fill of recently-used prescribers and their information</li>
    <li>Refill Tracking: track the dates of your next refills</li>
    <li>Integration/Exportability: ability to sync or export data to online health trackers</li>
  </ul>

