<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <p class="navbar-brand"><%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %></p>
    <p class="navbar-text"> Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %></p>
    <p class="navbar-text"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></p>
</div>
</nav>

<h2>What's forthcoming</h2>
<ol>
  <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
</ol>
