<h1>PillKeeper v. 1.0</h1>
<body class="body description">
<p>PillKeeper was designed to help you keep track of your medications,</p>
  <ul>
    <li>cool thing</li>
    <li>cool thing</li>
    <li>cool thing</li>
  </ul>

<p>To begin, please <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></p>.
</body>