<h1>Welcome to Pillkeeper!</h1>
<p>This app is awesome and will let you do the following:</p>
  <ul>
    <li>cool thing</li>
    <li>cool thing</li>
    <li>cool thing</li>
  </ul>

<p>To begin, please <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></p>
