<h1>PillKeeper v. 1.0</h1>
<body class="body description">
<p>PillKeeper was designed to help you keep track of your medications, and store data that's helpful for you and your caretaker.</p>
  <ul>
    <li>Simple, straightforward functionality and interface</li>
    <li>Designed in conjunction with doctors across several fields</li>
    <li>Secure user authentication</li>
  </ul>

<p>To begin, please <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></p>.
</body>