<div>
  (logo)
  <%= "Hello #{current_user.email}" %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete
    %>
  <hr />
</div>

<h1>User#show</h1>
<p>User Name:</p>
<p>User Email:</p>
