<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Update from PillKeeper </h1>
      
    <p>Pillkeeper user <%= @user.name %> just sent you their medical history</p>
    
      
  </body>
</html>